{% extends 'base.html' %}
{% load static %}

{% block content %}
    <button type="button" class="js-create-good" data-url="{% url 'add' %}"><span>Добавить товар</span></button><br>
    <button id="ajaxButton">Загрузить AJAX</button>

    <table id="test_table" class="result">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Производитель</th>
        </tr>
       {% include 'include/partial_goods_list.html' %}
    </table>

    <div class="modal-fade" id="modal-good">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/add_goods.js' %}"></script>
    <script src="{% static 'js/11.js' %}"></script>
{% endblock %}
